.git
.gitignore
.github
node_modules
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.env
.env.*
!.env.example
.netlify
.vercel
.cache
.vscode
.idea
.DS_Store
Thumbs.db
*.log
README-DEPLOY-VPS.md

# Image assets are stored outside Docker image and mounted from VPS
Lauk.in Asset
